@font-face{
  font-family: 'Fairfax';
  src: url('../font/Fairfax.ttf');
  src: url('../font/Fairfax.ttf') format('truetype')
  url('../font/FairfaxBold.ttf') format('truetype')
  url('../font/FairfaxItalic.ttf') format('truetype');
  font-weight: 200;
}

b {
  font-family: 'Fairfax';
  font-weight: 700;
}

#col2 {
  --columns: 2;
  --column-gutter: 100px;
  --row-gutter: 50px;
}

#col1 {
  display: none;
  --columns: 1;
  --row-gutter: 50px;
}

.bio_block {
  display: flex;
  grid-column-gap: var(--column-gutter);
  align-items: start;
}

.bio_block_column {
  display: flex;
  row-gap: var(--row-gutter);
  width: fit-content;
  flex-direction: column;
}

.wrapper {
  gap: 120px;
}

h2.intro {
  font-size: 30px;
}

.bio_text, ul, li {
  font-family: 'Fairfax';
  font-size: 30px;
  margin: 0;
}

.bio_text {
  margin-top: 30px;
}