/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    align-items: center;
    margin: 55px;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  p {
    font-size: 18px;
  }
  .container {
    margin: 10%;
  }
  .hero-text-max {
    gap: 15px;
  }
  .arrow {
    width: 15px;
  }
  .photo {
    display: none;
  }
  .intro {
    font-size: 30px;
  }
  .footer a {
    width: 74px;
    height: 74px;
  }
  .footer img {
    width: 64px;
    opacity: 1;
    z-index: 0;
  }
  .footer-mail {
    background: #FF73BF;
  }
  .footer-tg {
    background: #66B4ED;
  }
  .footer-inst {
    background: #FFC8A0;
  }
  .mail_blk,
  .tg_blk,
  .inst_blk {
    opacity: 0;
  }
  .menu {
    position: absolute;
    align-items: flex-start;
    left: 10%;
    top: 25%;
    gap: 30px;
  }
  .line {
    display: none;
  }
  .menu-link {
    justify-content: flex-start;
    width: 58%;
    height: 66px;
  }
  .menu-link img {
    width: 66px;
  }
  .planet_text {
    color: #AF81E4;
  }
  .plant_text {
    color: #9EEB94;
  }
  .bread_text { 
    color: #7CC2F6;
  }
  .planet,
  .plant,
  .bread {
    display: none;
  }
  .planet_clr,
  .plant_clr,
  .bread_clr {
    opacity: 1;
  }
  .menu-link p {
    opacity: 1;
    left: 200%;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .simbol {
    height: 80%;
  }
  .intro {
    font-size: 20px;
  }
}